 /* 
 =============================
            Common Css 
 =============================
 */
*{margin:0;padding:0}
a{text-decoration: none;}
img{width: 100%;height: auto;}
body{
    background-color: #EAEAEA;
    height: 100%;
}
.login_wrap{
   background-color: #fff;
}


.loaderSpiner{
   display: block;
   position: absolute;
   width: 100%;
   height: 100vh;
   background-color: #000;
   z-index: 9999;
   top: 0;
   left: 0;
   opacity: .8;

}
@keyframes rotate {
   from {
       transform: rotate(0deg);
   }
   to { 
       transform: rotate(360deg);
   }
}


@-webkit-keyframes rotate {
   from {
       -webkit-transform: rotate(0deg);
   }
   to { 
       -webkit-transform: rotate(360deg);
   }
}

.load {
   position: absolute;   
  width: 100px;
  height: 100px;
  border:solid 10px #cbcbcf;
  border-radius: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
  border-right-color: transparent;
  border-bottom-color: transparent;
   -webkit-transition: all 0.5s ease-in;
   -webkit-animation-name:             rotate; 
   -webkit-animation-duration:         1.0s; 
   -webkit-animation-iteration-count:  infinite;
   -webkit-animation-timing-function: linear;
      
       transition: all 0.5s ease-in;
   animation-name:             rotate; 
   animation-duration:         1.0s; 
   animation-iteration-count:  infinite;
   animation-timing-function: linear; 
}


 /* 
 =============================
            Login Page Css 
 =============================
 */

 .login_wrap{
    background-color: #fff;
    padding: 50px 25px;
    border-radius: 25px;
    box-shadow: 10px 10px 15px #3F3D56;
 }
 .login_form h2{
    text-align: center;
    margin-bottom: 15px;
 }
 .login_form  .item {
    margin-bottom: 10px;
 }
 .login_form  .item label{
    display: block;
    font-size: 16px;
    font-weight: 700;
 }

 .login_form  .item input{
    width: 100%;
    padding: 10px 25px;
    border: none;
    outline: none;
    border: 1px solid #3F3D56;
    border-radius: 25px;
 }
 .login_form  button{
    background-color: #3F3D56;
    border: none;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 25px;
    border: 1px solid transparent;
    transition: .5s;
 }

 .login_form  button:hover{
    background-color: transparent;
    border: 1px solid #3F3D56;
    color: #3F3D56;
 }